
<%- include ('reader')%>
<body>
    <h1> <img src="images/Capa.png" alt="Francisco Gleilton de Oliveira Costa" width="800" > </h1>

    <h2>Objetivo</h2>
    <p> Atuar na área de desenvolvedor Web</p>

    <h2>Resumo Profissional</h2>
    <p> Operador avançado em sistema Linux, Windows. Sólida experiência em Excel, Word, PowerPoint, Photoshop,
         CorelDraw avançado, fácil adaptação em demais software, capacidade de liderança, habilidade de negociação,
         adaptabilidade a novas funções e novos ambientes.
         Disponibilidade para viagens.
    </p>

    <h2>Formação Acadêmica</h2>
    <p> Análise e Desenvolvimento de Sistemas.</p>

    <h2>Idiomas</h2>
    <p> Inglês técnico</p>


    <h2>Certificação</h2>
    <p>Lógica de Programação - Fundação Bradesco</p>
    <p>Java Script Ninja - Udemy</p>
    <p>Desenvolvimento Full Stack Web</p>
    <p>Desenvolvimento JavaScrip - Cursos em video</p>
    <p>Git Github Ninja - Udemy</p>
    <p>GoStack 8.0 - Rocketseat</p>
    <p>Inglês Mairo Vergara 5.0</p>

    <h2>Expêriencia Profissional</h2>
    <p>Kartens Nordeste </p>
    <p>Função: Auxiliar Administrativo, Assistente de PCP, Analista de Estoques e Suporte em T.I</p>
    <p>Período: 6 anos</p>

    <p>Photo Connect </p>
    <p>Cargo: Web Designer, Designer Gráfico, Gerenciamento de E-Commerce, 
    Analista de Suporte Técnico em computadores e Smartphones</p>
    <p>Período: 4 anos</p>

    <div>
        <h3>Repositório Github</h3>
        <ul>
            <li><a href="https://github.com/GleiltonOliveira"> github.com/GleiltonOliveira</a></li>
        </ul>
    </div>


<%- include('footer')%>