h1{
    text-align: center;
    background-color: black;
 
}

h2{
    text-align: center;
    background-color: black;
    color: white;
}

body{
    font-family:'Roboto', sans-serif;
    
}

p{
    text-align: center;
}

h3{
    text-align: center;
    background-color: black;
    color: white;
}

ul{
    text-align: center;
    list-style: none;
}